.details{
    font-family: var(--second-font-family);
}
.details h3{
    font-family: var(--first-font-family);
    color: #666;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.details .billing .input-container div{
    flex: 1;
}
.details .billing input{
    border: 1px solid #eee;
    outline: none;
    border-radius: 5px;
}
.details .billing div p{
    font-size: 14px;
    font-weight: bold;
}
.details .you-order{
    border: 2px solid black;
    height: fit-content;
}
.details .you-order p{
    font-size: 13px;
}
@media (max-width:526px) {
    .details .you-order p{
        font-size: 12px;
    } 
}